  include *.py
  include *.rst
  include *.txt
  include .coveragerc
  include buildout.cfg
  include pytest.ini
  include toll.ini
  include tox.ini
  recursive-include doc *.html
  recursive-include doc *.py
  recursive-include doc *.rst
  recursive-include src *.py
